<div class="ed_titleSelectCnt disableSelect mCustomScrollbar">
    <ul>
        <li class="radio">
            <input id="titleStyle1" type="radio" name="titleStyle">
            <label for="titleStyle1" ng-click="check(1)">
                <div class="ed_titleStyle1">
                    <h3>标题样式实例</h3>
                </div>
            </label>
        </li>
        <li class="radio">
            <input id="titleStyle2" type="radio" name="titleStyle">
            <label for="titleStyle2" ng-click="check(2)">
                <div class="ed_titleStyle2">
                    <h3>标题样式实例</h3>
                </div>
            </label>
        </li>
        <li class="radio">
            <input id="titleStyle3" type="radio" name="titleStyle">
            <label for="titleStyle3" ng-click="check(3)">
                <div class="ed_titleStyle3">
                    <h3>标题样式实例</h3>
                </div>
            </label>
        </li>
        <li class="radio">
            <input id="titleStyle4" type="radio" name="titleStyle">
            <label for="titleStyle4" ng-click="check(4)">
                <div class="ed_titleStyle4">
                    <h3>标题样式实例</h3>
                </div>
            </label>
        </li>
        <li class="radio">
            <input id="titleStyle5" type="radio" name="titleStyle">
            <label for="titleStyle5" ng-click="check(5)">
                <div class="ed_titleStyle5">
                    <h3>标题样式实例</h3>
                </div>
            </label>
        </li>
        <li class="radio">
            <input id="titleStyle6" type="radio" name="titleStyle">
            <label for="titleStyle6" ng-click="check(6)">
                <div class="ed_titleStyle6">
                    <h3>标题样式实例</h3>
                </div>
            </label>
        </li>
        <li class="radio">
            <input id="titleStyle7" type="radio" name="titleStyle">
            <label for="titleStyle7" ng-click="check(7)">
                <div class="ed_titleStyle7">
                    <h3>标题样式实例</h3>
                </div>
            </label>
        </li>
        <li class="radio">
            <input id="titleStyle8" type="radio" name="titleStyle">
            <label for="titleStyle8" ng-click="check(8)">
                <div class="ed_titleStyle8">
                    <h3>标题样式实例</h3>
                </div>
            </label>
        </li>
        <li class="radio">
            <input id="titleStyle9" type="radio" name="titleStyle">
            <label for="titleStyle9" ng-click="check(9)">
                <div class="ed_titleStyle9">
                    <h3>标题样式实例</h3>
                </div>
            </label>
        </li>
    </ul>
</div>