<div class="cnt_box mCustomScrollbar">
    <form name="artForm" novalidate ng-submit="submitData()">
        <section class="tool fixedTool">
            <div class="left">
                <a class="icon_return red_btn" ng-click="back()" ng-show="operate!=='add'">返回</a>
            </div>
            <ul class="right">
                <li ng-show="operate === 'add' || 'editDraft' === operate || 'editAudit' == operate">
                    <a class="icon_box" ng-click="saveDraft()">保存草稿</a>
                </li>
                <li ng-show="hasPermission('article:add'+moduleId)">
                    <input ng-disabled="artForm.$invalid" type="submit" value="发布" /><i class="icon_horn"></i>
                </li>
                <li ng-show="!hasPermission('article:add'+moduleId)">
                    <input ng-disabled="artForm.$invalid" type="submit" value="提交审核" /><i class="icon_edit_1"></i>
                </li>
                <li><a href="#" class="icon_brush red_txt" ng-click="clear()">清空</a></li>
            </ul>
        </section>
        <div class="notes_left mCustomScrollbar">
            <ul class="form_box">
                <li class="text">
                    <label>标题</label>
                    <input type="text" name="title" ng-model="article.title" maxlength="50" required open-form-focus placeholder="请输入资讯标题" />
                    <p ng-show="artForm.title.$dirty && noteForm.title.$invalid">请输入资讯标题，不超过50个字</p>
                </li>
                <li class="upload">
                    <label>首图</label>
                    <p class="images">
                        <img id="_update_img" ng-src="{{article.thumbnail}}" style="height:120px;width:160px;" />
                    </p>
                    <p ng-bind="imageMessage" style="color:red"></p>
                    <lable id="filePicker">上传首图</lable>
                    <p class="explain">(必填)支持jpg,jpeg,bmp,png, gif格式图片，大小不得超过2M。</p>
                </li>
                <li class="textarea">
                    <label>导读</label>
                    <textarea name="desc" ng-model="article.artDesc" cols="40" rows="5" placeholder="输入导读，不超过100字" maxlength="100"></textarea>
                    <p><b>(选填)</b>不超过100个字 </p>
                    <p ng-show="artForm.desc.$dirty && artForm.desc.$invalid">导读请不超过100个字</p>
                </li>
            </ul>
        </div>
        <div class="notes_right mCustomScrollbar">
            <ul class="form_box">
                <li class="text">
                    <label>正文</label>
                    <div name="content" ng-model="article.articleContent" style="height:400px;width:100%;" id="{{ueditorId}}" class="ueditor" required></div>
                    <p ng-show="artForm.content.$dirty && artForm.content.$error.required">请输入资讯正文</p>
                </li>
            </ul>
        </div>
    </form>
</div>