<div class="o_pop_content">
    <div class="ec_setHome_module disableSelect mCustomScrollbar">
        <ul class="ec_stMod_list ">
            <li ng-show="::isUseComp(1)">
                <input id="sh_mod_banner" type="checkbox">
                <label for="sh_mod_banner" class="sh_mod_banner" ng-click="selectComp(1)">
                    <h3>横向全屏大图展示</h3>
                    <img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied_banner.gif" alt="">
                </label>
            </li>
            <li ng-show="::isUseComp(8)">
                <input id="sh_mod_HRoll" type="checkbox">
                <label for="sh_mod_HRoll" class="sh_mod_HRoll" ng-click="selectComp(8)">
                    <h3>横向图片滚动（每页显示4个）</h3>
                    <ul>
                        <li class="upload"><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                        <li class="nothing"><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                        <li class="nothing"><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                        <li class="nothing"><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                    </ul>
                </label>
            </li>
            <li ng-show="::isUseComp(4)">
                <input id="sh_mod_square" type="checkbox">
                <label for="sh_mod_square" class="sh_mod_square" ng-click="selectComp(4)">
                    <h3>方形图片展示</h3>
                    <ul>
                        <li><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                        <li><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                        <li><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                        <li><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                    </ul>
                </label>
            </li>
            <li ng-show="::isUseComp(2)">
                <input id="sh_mod_twoColumn" type="checkbox">
                <label for="sh_mod_twoColumn" class="sh_mod_twoColumn" ng-click="selectComp(2)">
                    <h3>两列图片展示</h3>
                    <ul>
                        <li><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                        <li><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                        <li><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                        <li><img src="http://imgcache.varicom.im/images/site/open_v3.1/occupied.gif" alt=""></li>
                    </ul>
                </label>
            </li>
            <li ng-show="::isUseComp(9)">
                <input id="sh_mod_product" type="checkbox">
                <label for="sh_mod_product" class="sh_mod_product" ng-click="selectComp(9)">
                    <h3>产品展示（可设置筛选）</h3>
                    <nav>
                        <p class="current">最新</p>
                        <p>人气</p>
                        <p>精品</p>
                    </nav>
                </label>
            </li>
        </ul>
    </div>
</div>