<li class="union" style="width:245px;margin:20px auto;">
    <style>
        .union li.unit {
            position: relative;
        }

        .union li .union_error {
            color: red;
            padding-left:65px;
            height: 20px;
            font-size: 12px;
        }

        .union li .union_error.contest {
            top: 62px;
        }

        .union li .union_error.number_err {
            top: 28px;
        }
        .time .icon_calendar{width: 30px;}
        .union_enter_name_group{font-size: 14px; height: 20px;padding-bottom: 5px;}
    </style>
    <ul class="form_box">
        <li class="tag">
            <label>联盟模式</label>
            <ul sun-title="联盟模式" ng-show="activity.unionState === 0">
                <li ng-click="unionType(1)" ng-class="{current:params.unionType ==1}">返点</li>
                <li ng-click="unionType(2)" ng-class="{current:params.unionType ==2}">拼车</li>
            </ul>
            <ul sun-title="联盟模式" ng-show="activity.unionState === 2 || activity.unionState === 1 || activity.unionState === 5">
                <li ng-show="params.unionType ==1" class="current">返点</li>
                <li ng-show="params.unionType ==2" class="current">拼车</li>
            </ul>
        </li>
        <li class="time unit">
            <label>截止日期</label>
            <input type="text" id="end_time_union_join" placeholder="选择截止日期" ng-model="params.time" vc-date-picker
                   min-date="%y-%M-%d %H:%m" other-conf="otherConf">
            <label class="icon_calendar" for="end_time_union_join"></label>
        </li>
        <li class="text unit" ng-repeat="group in eventGroupInfo">
            <div class="union_enter_name_group">赛事分组:{{group.name}}</div>
            <label>名额限制</label>
            <input type="number" placeholder="输入名额限制" ng-model="group._number" ng-keyup="number(group)">
            <span>人</span>

            <div class="union_error number_err" ng-show="group._number_err === true">{{group.group_join_num}}最多{{group.number}}人</div>
            <div ng-if="opt !== 2"
                 ng-show="(!params.unionType || params.unionType === 1) && activity.unionState !== 2">

                <label>返利每人</label>
                <input  type="number" str-to-num min="0" placeholder="输入返利每人" ng-model="group.repay" ng-keyup="repay(group)">
                <span>元</span>

                <div class="union_error contest" ng-show="group.cost_max_err === true">最多{{group.price||'0'}}元</div>
            </div>
        </li>
    </ul>
</li>