<section class="tool fixedTool">
    <div class="left">
        <ul class="date_box">
            <li class="unit">
                <input type="text" placeholder="结束时间" ng-model="params.endTime" vc-date-picker
                       date-fmt="yyyy-MM-dd" readonly="readonly"/>
                <button class="icon_calendar"></button>
            </li>
        </ul>
    </div>
    <ul class="right">
        <li ng-show="hasPermission('commission:payoff') || hasPermission('bonus:payoff')">
            <a href="#" class="icon_edit_1" ng-click="pay()">支付</a>
        </li>
        <li><a href="#" class="icon_edit_1" ng-click="excel()">导出明细</a></li>
    </ul>
</section>
<table class="list_table">
    <thead>
    <tr>
        <th><input type="checkbox" ng-click="checkAll=!checkAll" ng-checked="checkAll"/></th>
        <th>头像</th>
        <th>账户</th>
        <th>昵称</th>
        <th>手机</th>
        <th>收款账号</th>
        <th>上次结算时间</th>
        <th ng-show="params.type === 1">佣金</th>
        <th ng-show="params.type === 2">团队奖金</th>
        <th width="120px">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="distributor in data">
        <td>
            <input type="checkbox" ng-click="distributor._checked = !distributor._checked" ng-checked="checkAll"/>
        </td>
        <td><img ng-src="{{distributor.imgPath}}" ng-show="distributor.imgPath" height="40px;" width="40px;"/></td>
        <td>{{distributor.name}}</td>
        <td>{{distributor.nickname}}</td>
        <td>{{distributor.loginName}}</td>
        <td>{{distributor.account}}</td>
        <td ng-show="params.type === 1">{{distributor.lastCSendTime | date:'yyyy-MM-dd'}}</td>
        <td ng-show="params.type === 2">{{distributor.lastBSendTime | date:'yyyy-MM-dd'}}</td>
        <td ng-show="params.type === 1">{{distributor.toBeCommission | numDefault}}元</td>
        <td ng-show="params.type === 2">{{distributor.toBeBonus | numDefault}}元</td>
        <td>
            <div class="operate">
                <ul>
                    <li ng-show="hasPermission('commission:get') || hasPermission('bonus:get')">
                        <a href="javascript:;" ng-click="getDetail(distributor.rid,distributor.name)">查看明细</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<open-page data="page" params="params" show-page-num="10" go-page="loadData(num)"></open-page>